<form method="post" action="{{ path('tb_enderecos_delete', {'cod_endereco': tb_endereco.getCodEnderecos}) }}" onsubmit="return confirm('Tem certeza que deseja deletar esse item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tb_endereco.getCodEnderecos) }}">
    <button class="btn"><i class="delete-icon fa fa-trash" aria-hidden="true" title="Deletar"></i></button>
</form>
